<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Squelette</h1>
    <strong>{% block contenu %}{% endblock %}</strong>
{% block autre %}une autre phrase{% endblock %}
</body>
</html>
